@import "./../../../src/styles/variables.scss";

.footer-style {
    background-color: $black;
    display: block;
    color: $white;
    margin-bottom: -10px;
}

.toll-free-container {
    background-color: $primary-color;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: -35px;
}

.elementor-shape-fill {
    fill: $primary-color;
}

.svg-align {
    z-index: 1;
    position: relative;
    top: 31px;
}

.footer-logo {

    img {
        width: 90%;
    }
}

.footer-card {
    padding: 10px;

    .contact-footer-wrapper {
        cursor: pointer;

        .contact-details {
            a {
                text-decoration: none;
                color: $white;

                &:hover {
                    i {
                        color: $primary-color;
                    }
                }
            }
        }

    }

    li {
        font-size: 16px;
    }
}

.copyright-wrapper {
    border-top: 1px solid $darker-grey;
}

.copyright-card {
    padding: 40px 0;
}

@media only screen and (max-width: 768px){
    .footer-style {
        .flex-direction {
            flex-direction: column;
        }
    }
}
