<div class="toll-free-container">
    <span class="font-22 text-white">
        Need help? Call our award-winning support team TOLL FREE : 1.800.566
    </span>
</div>
<svg class="svg-align" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 10" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M350,10L340,0h20L350,10z"></path>
</svg>
<div class="footer-style w-100">
    <section class="vg-container flex-display p-50-20 flex-direction">
        <div class="flex-align line-height-40 footer-card footer-logo">
            <div class="line-height-25 font-16">
                Our professionals understand the customer needs, come up with best practices of market, 
                sugest cost efficient solution and do “Everything Customised to You”
            </div>
            <div class="pl-20">
                <span class="text-white italic-font line-height-5">Read More ></span>
            </div>
        </div>
        
        <div class="flex-align p-5 footer-card">
            <p class="font-22 pb-20">Contractor</p>
            <ul class="line-height-25">
                <li>Siding</li>
                <li>Drywall</li>
                <li>Renovation</li>
                <li>Decks</li>
                <li>Kitchens</li>
                <li>Bathrooms</li>
                <li>Basements</li>
                <li>Garage</li>
                <li>Repairs</li>
                <li>Flooring</li>
                <li>Plumbing</li>
                <li>Electrical</li>
            </ul>
        </div>
        <div class="flex-align p-5 footer-card">
            <p class="font-22 pb-20">Handyman</p>
            <ul class="line-height-25">
                <li>Camera Installation</li>
                <li>TV Installation</li>
                <li>Home Theatre</li>
                <li>Window / Doors</li>
                <li>Repair</li>
                <li>Painting</li>
                <li>Fence Repair</li>
                <li>Maintenance</li>
                <li>Wall Hanging</li>
                <li>Shelves</li>
                <li>Furniture Assembly</li>
                <li>Lawn Maintenance</li>
                <li>Gardening</li>
            </ul>
        </div>

        <div class="flex-align footer-card p-5">
            <p class="font-22 pb-20">Contact Us</p>
            <div class="contact-footer-wrapper">          
                <div class="mb-10 contact-details">
                    <a href="mailto:vishakagupta1809@gmail.com" class="text-nowrap">
                        <i class="fas fa-envelope mg-10"></i>
                        <span class="text-white font-16">vishakagupta1809@gmail.com</span>
                    </a>
                </div>
                <div class="ml-5 line-height-40">
                    
                </div>
            </div>
        </div>
       
    </section>
    <section class="vg-container copyright-wrapper">
        <div class="copyright-card">
            &copy; {{currentYear}} All Rights Reserved - Vishaka Gupta
        </div>
    </section> 
</div>