<section class="aboutUs-container">
    <div class="aboutUs-img w-100"></div>
    <section class="aboutUs-text-overlap">
        <p class="main-heading">About Us</p><br/>
    </section>
</section>

<div class="vg-container flex-display pt-40 flex-direction">
    <div class="flex-align pr-20">
        <p class="primary-text font-bold line-height-3 font-30">ABOUT US</p>
        <div class="component-heading mb-20">
            Professional Handyman Services in Vancouver
        </div>
        <div class="component-text">
            <p class="mb-10">
                The team at Professionals is made up of skilled tradespeople and industry veterans that are 
                committed to providing the best possible home repair and upkeep services. We specialise in small-job 
                home remodelling. If you need a handyman but don’t know where to start looking, Professionals is 
                the answer. We are aware of how difficult it may be to locate a handyman who is available and how 
                difficult it can be to check their references and feel confident in your decision. All of that 
                preparation work has already been done for you by Professionals. When we send a handyman into 
                the field, we evaluate the calibre of their work, check their references, and even conduct a police 
                background check.
            </p>
            <p class="mb-10">
                When you contact Professionals, you can be sure that a professional will handle your job.
            </p>
            <p class="mb-10">
                Since little jobs are the most difficult to find a handyman to complete, Professionals concentrates 
                on them. We believe that concentrating on small jobs goes beyond just being a business; it also serves 
                the community. As an illustration, a slack railing for some elderly people can mean the difference 
                between them maintaining their independence and losing it. Professionals will handle those tasks 
                for you if you are unable or unable to handle the small repairs yourself.
            </p>
        </div>
    </div>
    <div class="flex-align w-100">
        <img class="w-100 about-us-detail-img center-align " src="./../../assets/images/about-us-details.png" />
    </div>
</div>

<div class="vg-container component-text">
    <p>
        We know that having to do repairs can be annoying, so we want to work with you to find the best handyman to 
        handle your small-job requirements. The handymen at Professionals specialise in house repairs. “No job 
        is too little,” is our motto. But we are more than willing to take on the task for you if your job is “not 
        so tiny,” such as replacing the plasterboard in a room, converting a tile floor to carpet, or painting numerous 
        rooms. And we’re eager to hear from you so we can save you from all the hassles that home renovations and 
        repairs can bring.
    </p>
</div>
