<div class="social-media-wrapper flex-display flex-direction-col">
    <section>
        <div class="align-brand-icons">
            <a href="https://www.linkedin.com/in/vishaka-g-561b932a6/" target="_blank" class="fixed-icon-style icon-style linkedIn-style">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="align-brand-icons">
            <a href="https://github.com/vishakagupta18/web-developer" target="_blank" class="fixed-icon-style icon-style github-style">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </section>
</div>