<svg class="svg-shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M738,99l262-93V0H0v5.6L738,99z"></path>
</svg>
<div class="vg-container flex-display pt-40 flex-direction">
    <div class="flex-align pr-20">
        <p class="primary-text font-bold line-height-3 font-30">OUR SERVICES</p>
        <div class="component-heading mb-20">
            Use our trusted service to build your dream home.
        </div>
        <div class="component-text ">
            Renovation starts with planning, design, and financing; it continues until the project is built 
            and ready for use. Team Professional staffed with engineers and trademan serve the customers 
            with their utmost skills and experience, We do Home renovations, Basement, Bathroom and any kind 
            of Indoor or Outdoor renovations.
        </div>
        <div class="pl-20 know-now-btn">
            <span class="primary-text italic-font line-height-5">Know Now ></span>
        </div>
    </div>
    <div class="flex-align w-100">
        <img class="w-100 service-img center-align " src="./../../assets/images/img4.jpg" />
    </div>
</div>
<div class="service-svg">
    <svg class="svg-shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="elementor-shape-fill" d="M738,99l262-93V0H0v5.6L738,99z"></path>
    </svg>
</div>
