<div class="vg-container flex-display pt-40 flex-direction">
    <div class="flex-align p-10">
        <p class="primary-text font-bold line-height-3 font-30">CONTACT OUR TEAM</p>
        <div class="component-heading mb-20">
            We always ready for the challenges
        </div>
        <div class="component-text ">
            Renovating or remodeling a home is considered one of the most challenging aspects of construction. 
            Renovations entail a lot of activities for both the builder and the homeowner, from subtle changes
             like improving the aesthetics and layout of the existing building or house to drastic alterations 
             such as retrofits and build-outs. 
        </div>
    
        <div class="pl-20">
            <span class="primary-text italic-font line-height-5">Contact Us ></span>
        </div>
    </div>
    <!-- <div class="flex-align w-100">
        <img class="w-100 service-img center-align " src="./../../assets/images/contact-team.png" />
    </div> -->
</div>

